In [1]:
import numpy as np
import pandas as pd

In [2]:
olympic_series_participation = pd.Series([205,204,201,200,197], index=[2012,2008,2004,2000,1996])
olympic_series_country = pd.Series(['london','beijing','athens','sydney','atlanta'],
                                   index=[2012,2008,2004,2000,1996])
df_olympic_series = pd.DataFrame({'No. of participating countries':olympic_series_participation,
                                  'Host cities':olympic_series_country})

In [3]:
df_olympic_series

      No. of participating countries Host cities
2012                             205      london
2008                             204     beijing
2004                             201      athens
2000                             200      sydney
1996                             197     atlanta

In [4]:
df_olympic_series.describe

<bound method NDFrame.describe of       No. of participating countries Host cities
2012                             205      london
2008                             204     beijing
2004                             201      athens
2000                             200      sydney
1996                             197     atlanta>

In [15]:
df_olympic_series.head()

      No. of participating countries Host cities
2012                             205      london
2008                             204     beijing
2004                             201      athens
2000                             200      sydney
1996                             197     atlanta

In [6]:
df_olympic_series.tail(3)

      No. of participating countries Host cities
2004                             201      athens
2000                             200      sydney
1996                             197     atlanta

In [7]:
df_olympic_series.index

Int64Index([2012, 2008, 2004, 2000, 1996], dtype='int64')

In [8]:
df_olympic_series.columns

Index(['No. of participating countries', 'Host cities'], dtype='object')

In [9]:
df_olympic_series['Host cities']

2012     london
2008    beijing
2004     athens
2000     sydney
1996    atlanta
Name: Host cities, dtype: object

In [10]:
df_olympic_series['No. of participating countries']

2012    205
2008    204
2004    201
2000    200
1996    197
Name: No. of participating countries, dtype: int64

In [11]:
df_olympic_series.loc[2012]

No. of participating countries       205
Host cities                       london
Name: 2012, dtype: object

In [12]:
df_olympic_series.iloc[0:2]

      No. of participating countries Host cities
2012                             205      london
2008                             204     beijing

In [13]:
df_olympic_series.iat[3,1]

'sydney'

In [14]:
df_olympic_series[df_olympic_series['No. of participating countries']>200]

      No. of participating countries Host cities
2012                             205      london
2008                             204     beijing
2004                             201      athens